{% extends "maestra.html" %}
{% block titulo %}
Agregar Usuario
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar usuario</h3>
            <form action="{{url_for('guardar_usuario')}}" method="post">
                <label for="tipo">Tipo_id:</label>
                <input required type="text" class="input" placeholder="Tipo" name="tipo" id="tipo">
                <label for="nombre">Nombre:</label>
                <input required type="text" class="input" placeholder="Nombre" name="usu_nombre" id="usu_nombre">
                <label for="apellido">Apellidos</label>
                <input required type="text" class="input" placeholder="Apellidos" name="apellidos" id="apellidos">
                <label for="email">Email</label>
                <input required type="text" class="input" placeholder="Email" name="email" id="email">
                <label for="clave">Clave</label>
                <input required type="text" class="input" placeholder="Clave" name="clave" id="clave">
                <label for="dni">Dni</label>
                <input required type="text" class="input" placeholder="Dni" name="dni" id="dni">
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('usuarios')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}